.maquillaje-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.maquillaje-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}
.maquillaje-container #maqui{
    margin-bottom: 25px;
    font-size: 20px;
}
.maquillaje-container #ofer{
    font-size: 1.5rem;
    color: #555;
   margin-bottom: 30px;
}
.productos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.producto-card:hover {
    transform: translateY(-10px);
}

.producto-imagen {
    position: relative;
    width: 100%;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.producto-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.producto-imagen img.secondary {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.producto-imagen:hover img.primary {
    opacity: 0;
}

.producto-imagen:hover img.secondary {
    opacity: 1;
}

.producto-info {
    padding: 15px;
}

.producto-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.producto-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.producto-precio {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 10px;
}

.producto-boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.producto-boton:hover {
    background-color: #0056b3;
}